<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light">
  <span class="navbar-brand">HTTPTool</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" />
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link{% if active == 'home' %} active{% endif %}" href="{{ url_for('home.index') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if active == 'docs' %} active{% endif %}" href="{{ url_for('docs.index') }}">Docs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if active == 'inspector' %} active{% endif %}" href="{{ url_for('inspector.index') }}">Inspector</a>
      </li>
    </ul>
  </div>
</nav>
